body{
  background: #E5E5E5;
}
.container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

header {
  height: 20px;
  display: flex;
  width: 320px;
  justify-content: space-between;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: #6070ff;
}

.box1 {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.box2 {
  background-image: url(background.png);
  position: static;
  width: 327px;
  height: 75px;
  left: 24px;
  top: 114px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  flex-wrap: wrap;
}

.box3 {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.box4 {
  display: flex;
  order: 1;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.box5 {
  order: 2;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5px;
  overflow: hidden;
}

li {
  padding: 5px;
  float: left;
}

button {
  background-color: white;
  border: none;
}

button:hover {
  background-color: tomato;
}

button:active {
  background-color: yellowgreen;
}

.grid-container {
  display: grid;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
}

h2 {
  position: static;
  width: 295px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

li.b {
  font-family: sans-serif;
  color: black;
}
li.a {
  color: #C1C7D0;
  list-style-type: disc;
  margin-left: 30px;
  font-family: sans-serif;
  font-weight:bold ;
}

button.grid-item {
  background: #EBEBFF;
  border-radius: 8px;
  color: #6070FF;
}

button.project {
  background: #FFFFFF;
  border: 1px solid #0f4be2;
  box-sizing: border-box;
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #396DF2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  Width: 100px;
  Height: 30px;
  margin-left: 7px;
  padding-right: 3px;
}

p.grid-item {
  font-family: sans-serif;
  color: black;
}